:root {
  --color-texto-primario: #fff;
  --color-fondo-tajerta: tomato;
}

body {
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: var(--color-texto-primario)
  background-image: url('/Portfolio-Personal/porfolio-franco/src/assets/FondoPortfolio.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}
